/*----------------------------------------------------------------------------*/
/* BASE CONFIG
/*----------------------------------------------------------------------------*/
$loudColor: #000000;
$mediumColor:#222;
$lightColor:#fff;
$loudOppositeColor:#ffffff;
$actionColor:blue;
$loudActionColor:red;
$errorColor:red;
$successColor:green;
$neutralColor:blue;
$break-small: 780px;
/*----------------------------------------------------------------------------*/
$normalFont:courier,arial, sans-serif; 
$highLightFont: sofia_pro_regularregular, arial, sans-serif;
$highLighterFont: sofia_problack, arial, sans-serif;